USE [database2TI]
GO
/****** Object:  Table [dbo].[Coffee_Product]    Script Date: 4/03/2017 17:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Coffee_Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [varchar](max) NOT NULL,
	[Beschrijving] [varchar](max) NULL,
	[Prijs] [float] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Coffee_Product] ON 

INSERT [dbo].[Coffee_Product] ([Id], [Naam], [Beschrijving], [Prijs]) VALUES (1, N'Café Macchiato', N'Café macchiato, soms ook espresso macchiato genoemd, is een espresso met een klein beetje melkschuim. Hij dankt zijn naam aan het gevlekt uiterlijk, macchiato betekent letterlijk gevlekt.', 3.8)
INSERT [dbo].[Coffee_Product] ([Id], [Naam], [Beschrijving], [Prijs]) VALUES (2, N'Espresso', N'Espresso is een koffiebereiding waarbij heet water onder hoge druk door zeer fijn gemalen en aangedrukte koffie wordt geperst. De naam ‘Espresso’ is Italiaans voor uitdrukkelijk.', 2.5)
INSERT [dbo].[Coffee_Product] ([Id], [Naam], [Beschrijving], [Prijs]) VALUES (3, N'Cappucino', N'Cappuccino is een Italiaanse koffiesoort, oorspronkelijk afkomstig uit Wenen, de koffiehoofdstad van Europa. De koffie bestaat uit melkschuim, melk en Espresso.', 3.2)
SET IDENTITY_INSERT [dbo].[Coffee_Product] OFF
