.spa {
    display: none;
    
}
#tabTimer {
    display: block;
}

.red-background{
    background-color:#AA1300;
}
.side-nav{
    background-color: #BD2903;
    
}

.side-nav > li > a {
    color: white;
}

.dividerBoven{
    margin-top: 50px;
}
table {
    font-size: 15px;
}
/*
# Kleuren:
    * Hoofdkleur : AA1300
    * Secundaire kleur : BD2903
*/
    
